<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Kiosk Management</div>
              <br>
             <!-- <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Add Thermal Printer</span>

              </p> -->
            </div>

          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <div class="col-md-12">
            <form class="form" #addClassForm="ngForm" novalidate>
              <div class="form-body">
                <!--first row f ields-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="printerNo"><span *ngIf="addprinter.printerNo == undefined || addprinter.printerNo =='' "
                        style="color: red">*</span>Printer No
                    </label>
                    <span class=" text-muted danger" *ngIf="!printerNo.valid && (printerNo.dirty || printerNo.touched)">
                      is required!
                    </span>
                    <input type="text" id="printerNo" class="form-control border-primary" name="printerNo"
                      [(ngModel)]="addprinter.printerNo" ngModel #printerNo="ngModel" required>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="printerName"><span *ngIf="addprinter.printerName == undefined || addprinter.printerName=='' "
                      style="color: red">*</span>Printer Name
                  </label>
                  <span class=" text-muted danger" *ngIf="!printerName.valid && (printerName.dirty || printerName.touched)">
                    is required!
                  </span>
                  <input type="text" id="printerNo" class="form-control border-primary" name="printerName"
                    [(ngModel)]="addprinter.printerName" ngModel #printerName="ngModel" required>

                </div>
              </div>
                </div>
                <!--Second row for fields-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="brandName"><span *ngIf="addprinter.brandName == undefined || addprinter.brandName =='' "
                        style="color: red">*</span>Brand Name
                    </label>
                    <span class=" text-muted danger" *ngIf="!brandName.valid && (brandName.dirty || brandName.touched)">
                      is required!
                    </span>
                    <input type="text" id="printerNo" class="form-control border-primary" name="brandName"
                      [(ngModel)]="addprinter.brandName" ngModel #brandName="ngModel" required>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="modelName"><span *ngIf="addprinter.modelName == undefined || addprinter.modelName=='' "
                      style="color: red">*</span>Model Name
                  </label>
                  <span class=" text-muted danger" *ngIf="!modelName.valid && (modelName.dirty || modelName.touched)">
                    is required!
                  </span>
                  <input type="text" id="printerNo" class="form-control border-primary" name="printerName"
                    [(ngModel)]="addprinter.modelName" ngModel #modelName="ngModel" required>

                </div>
              </div>
                </div>


                <!--Third row for fields-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="machineType"><span *ngIf="addprinter.machineType == undefined || addprinter.machineType =='' "
                        style="color: red">*</span>MachineType
                    </label>
                    <span class=" text-muted danger" *ngIf="!machineType.valid && (machineType.dirty || machineType.touched)">
                      is required!
                    </span>
                    <input type="text" id="printerNo" class="form-control border-primary" name="machineType"
                      [(ngModel)]="addprinter.machineType" ngModel #machineType="ngModel" required>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="printCapacity"><span *ngIf="addprinter.printCapacity == undefined || addprinter.printCapacitye=='' "
                      style="color: red">*</span>PrintCapacity
                  </label>
                  <span class=" text-muted danger" *ngIf="!printCapacity.valid && (printCapacity.dirty || printCapacity.touched)">
                    is required!
                  </span>
                  <input type="text" id="printerNo" class="form-control border-primary" name="printCapacity"
                    [(ngModel)]="addprinter.printCapacity" ngModel #printCapacity="ngModel" required>

                </div>
              </div>
                </div>
            <!--fourth row fields-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="d-block">Status</label>
                  <div class="input-group">
                    <div class="custom-control custom-radio d-inline-block float-left">
                      <input type="radio" checked id="active" name="status" class="custom-control-input"
                        value="active" [(ngModel)]="addprinter.status">
                      <label class="custom-control-label" for="active">Active</label>
                    </div>
                    <div class="custom-control custom-radio d-inline-block float-left ml-1">
                      <input type="radio" id="inactive" name="status" class="custom-control-input"
                        value="inactive" [(ngModel)]="addprinter.status">
                      <label class="custom-control-label" for="inactive">In Active</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions center">

                <button type="button" class="btn btn-raised btn-primary mr-1" (click) = "updatePrinter(addprinter)" 
                  [disabled]="!addClassForm.valid">
                  <i class="fa fa-check-square-o"></i> Update
                </button>
                <button type="button" class="btn btn-raised btn-warning">
                  <i class="ft-x"></i> Cancel
                </button>
               </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

</section>

<section id="image">
  <table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Printer No</th>
            <th> Printer Name</th>
            <th> Brand Name</th>
            <th>  Model Name</th>
            <th>  Machine Type</th>
            <th>  Print Capacity</th>
            <th>  Status </th>
            <th>  Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let printer of addprinters" >
            <td> {{ printer.printerNo }} </td>
            <td> {{ printer.printerName }} </td>
            <td> {{ printer.brandName }} </td>
            <td> {{ printer.modelName }} </td>
            <td> {{ printer.machineType }} </td>
            <td> {{ printer.printCapacity }} </td>
            <td> {{ printer.status }} </td>
            <td>
                <button (click) = "updateAddPrinter(printer)" class = "btn btn-primary mr-2" style="color:#fff !important;"> Update</button>
                <!--<button (click) = "deleteAddPrinter(printer.id)" class = "btn btn-danger" style="color:#fff !important;"> Delete</button>-->
            </td> 
        </tr>
    </tbody>
</table>


  </section>
