<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Assign Store</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
              
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <fieldset class="form-group">
                            <label for="storeSelect">Store Name</label>
                            <select class="form-control border-primary" [(ngModel)]="store" required id="store"
                              (change)='onStoreSelected(store.storeName)' name="store">
                              <option [ngValue]="store" *ngFor="let store of stores">
                                {{store.storeName}} </option>
                            </select>
                          </fieldset>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="address">Store Location
                          </label>

                          <input type="text" id="address" class="form-control border-primary" name="address"
                            [(ngModel)]="selectedStore.address" disabled>

                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="kioskSelect">Kiosk Name</label>
                          <select class="form-control border-primary" [(ngModel)]="kiosk" required id="kiosk"
                            (change)='getKioskSelected(kiosk.kioskName)' name="kiosk">
                            <option [ngValue]="kiosk" *ngFor="let kiosk of kiosks">
                              {{kiosk.kioskName}} </option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="billSelect">Bill Acceptor Name</label>
                          <select class="form-control border-primary" [(ngModel)]="billValidator" required id="billValidator"
                            (change)='getBillValidatorSelected(billValidator.billAcceptorName)' name="billValidator">
                            <option [ngValue]="billValidator" *ngFor="let billValidator of billValidators">
                              {{billValidator.billAcceptorName}} </option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="printerSelect">Printer Name</label>
                          <select class="form-control border-primary" [(ngModel)]="printer" required id="printer"
                            (change)='getPrinterSelected(printer.printerName)' name="printer">
                            <option [ngValue]="printer" *ngFor="let printer of printers">
                              {{printer.printerName}} </option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="lockSelect">Digital Lock</label>
                          <ng-select [multiple]="true" [(ngModel)]="lock" (change)='getlockSelected(lock.digitalLockName)' id="lock" name="lock">
                            <ng-option *ngFor="let lock of locks" [value]="lock.digitalLockName">{{lock.digitalLockName}}</ng-option>
                        </ng-select>
                        </fieldset>
                      </div>
                    </div> -->
<!-- 
                      <div class="col-md-6">
                        <fieldset class="form-group">
                          <label for="lockSelect">Digital Lock</label>
                           <select class="form-control border-primary" [(ngModel)]="lock"  required id="lock"
                            (change)='getlockSelected(lock.digitalLockName)' name="lock">
                            <option [ngValue]="lock" *ngFor="let lock of locks">
                              {{lock.digitalLockName}} </option>   
                          </select>                 
                        </fieldset>
                    </div>  -->
                     
                   
                     <div class="col-md-6" >
                      <fieldset class="form-group">
                          <label for="digitalLockName"> <span
                                  *ngIf="lock.digitalLockName == undefined || lock.digitalLockName =='' "
                                  style="color: red">*</span>Digital Lock
                          </label>
                          <span class=" text-muted danger"
                              *ngIf="!digitalLockName.valid && (digitalLockName.dirty || digitalLockName.touched)">
                              is required!
                          </span>
                          <ng-select [items]="locks" name="digitalLockName" bindValue="id"
                              bindLabel="digitalLockName" placeholder="Select digitalLockName" appendTo="body"
                              multiple="true" [(ngModel)]="lock.digitalLockName"
                              [ngModelOptions]="{standalone: true}"  ngModel 
                              #digitalLockName="ngModel"  required>
                               
                          </ng-select>

                      </fieldset>
                  </div>  

              


                  </div>  
                 
                  


                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" 
                      (click)="assignStore(store.id, kiosk.id, billValidator.id, printer.id, lock.id)" [disabled]="!addClassForm.valid">
                      <i class="fa fa-check-square-o"></i> Assign Store
                    </button>
                    <button type="button" class="btn btn-raised btn-warning">
                      <i class="ft-x"></i> Cancel
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>