<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Assign Store</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <fieldset class="form-group">
                            <label for="storeSelect">Store Name</label>
                            <select class="form-control border-primary" [(ngModel)]="store" required id="store"
                              (change)='onStoreSelected(store.storeName)' name="store">
                              <option>Select Store Name</option>
                              <option [ngValue]="store" *ngFor="let store of stores">
                                {{store.storeName}} </option>
                            </select>
                          </fieldset>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="address">Store Location
                          </label>

                          <input type="text" id="address" class="form-control border-primary" name="address"
                            [(ngModel)]="selectedStore.address" disabled>

                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="kioskSelect">Kiosk Name</label>
                          <select class="form-control border-primary" [(ngModel)]="kiosk" required id="kiosk"
                            (change)='getKioskSelected(kiosk.kioskName)' name="kiosk">
                            <option>Select kioskName</option>
                            <option [ngValue]="kiosk" *ngFor="let kiosk of kiosks">
                              {{kiosk.kioskName}} </option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="billSelect">Bill Acceptor Name</label>
                          <select class="form-control border-primary" [(ngModel)]="billValidator" required id="billValidator"
                            (change)='getBillValidatorSelected(billValidator.billAcceptorName)' name="billValidator">
                            <option>Select billAcceptorName</option>
                            <option [ngValue]="billValidator" *ngFor="let billValidator of billValidators">
                              {{billValidator.billAcceptorName}} </option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="printerSelect">Printer Name</label>
                          <select class="form-control border-primary" [(ngModel)]="printer" required id="printer"
                            (change)='getPrinterSelected(printer.printerName)' name="printer">
                            <option>Select Printer Name</option>
                            <option [ngValue]="printer" *ngFor="let printer of printers">
                              {{printer.printerName}} </option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="lockSelect">Digital Lock</label>
                          <ng-select [multiple]="true" [(ngModel)]="lock" (change)='getlockSelected(lock.digitalLockName)' id="lock" name="lock">
                            <ng-option *ngFor="let lock of locks" [value]="lock.digitalLockName">{{lock.digitalLockName}}</ng-option>
                        </ng-select>
                        </fieldset>
                      </div>
                    </div> -->
 
                      <div class="col-md-6">
                        <fieldset class="form-group">
                          <label for="lockSelect">Digital Lock</label>
                           <select class="form-control border-primary" [(ngModel)]="lock"  required id="lock"
                            (change)='getLockSelected(lock.digitalLockName)' name="lock">
                            <option>Select lock Name</option>
                            <option [ngValue]="lock" *ngFor="let lock of locks">
                              {{lock.digitalLockName}} </option>   
                          </select>                 
                        </fieldset>
                    </div> 
                     
                   
                     <!-- <div class="col-md-6" >
                      <fieldset class="form-group">
                          <label for="digitalLockName"> <span
                                  *ngIf="lock.digitalLockName == undefined || lock.digitalLockName =='' "
                                  style="color: red">*</span>Digital Lock
                          </label>
                          <span class=" text-muted danger"
                              *ngIf="!digitalLockName.valid && (digitalLockName.dirty || digitalLockName.touched)">
                              is required!
                          </span>
                          <ng-select [items]="locks" name="digitalLockName" bindValue="id"
                              bindLabel="digitalLockName" placeholder="Select digitalLockName" appendTo="body"
                              multiple="true" [(ngModel)]="lock.digitalLockName"
                              [ngModelOptions]="{standalone: true}"  ngModel 
                              #digitalLockName="ngModel"  required>
                               
                          </ng-select>

                      </fieldset>
                  </div>   -->

              


                  </div>  
                 
                  


                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" 
                      (click)="assignStore(store.id, kiosk.id, billValidator.id, printer.id, lock.id)" [disabled]="!addClassForm.valid">
                      <i class="fa fa-check-square-o"></i> Assign Store
                    </button>
                    <button type="reset" class="btn btn-raised btn-warning">
                      <i class="ft-x"></i> Cancel
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="card">

        <div class="card-body">
          <div class="form-group">
            <section id="simple">

              <!-- <div class="col-sm-6">
                <form role="search">
                  <div class="position-relative has-icon-right">
                    <input type="text" class="form-control round" placeholder="Search" name="search"
                      [(ngModel)]="searchText" autocomplete="off">
                    <div class="form-control-position">
                      <i class="ft-search"></i>
                    </div>
                  </div>
                </form>
              </div> -->
              <br>
              <div class="row text-left">

                <div class="col-sm-12">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Store Name</th>
                        <th>Store Location</th>
                        <th>Kiosk Name</th>
                        <th>billAcceptor Name</th>
                        <th>Printer Name</th>
                        <th>Lock Name</th>
                      </tr>
                    </thead>
                    <!-- <tbody
                        *ngFor="let role of roles| slice: (page-1) * pageSize : +((page-1) * pageSize) + +pageSize; index as i"> -->
                    <tbody *ngFor="let assignstore of assignstores; index as i">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{assignstore.storeName}}</td>
                        <td>{{assignstore.address}}</td>
                        <td>{{assignstore.kioskName}}</td>
                        <td>{{assignstore.billAcceptorName}}</td>
                        <td>{{assignstore.printerName}}</td>
                        <td>{{assignstore.digitalLockName}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <div *ngIf="searchText != ''">
                    <table class="table table-responsive-md text-center">
                      <thead>
                        <tr>
                          <th>S.no</th>
                          <th>Class Name</th>
                          <th>Edit</th>
                          <th>Status</th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let class of classes| filter:searchText ; index as i">
                        <tr>
                          <td>{{i+1+(page-1) * pageSize}}</td>
                          <td>{{class.name}}</td>
                          <td>
                            <a class="success p-0" data-original-title="" title="" (click)="editClass(class)"
                              placement="bottom" ngbTooltip="Edit">
                              <i class="ft-edit-2 font-medium-3 mr-2"></i>
                            </a>
                            <a class="danger p-0" data-original-title="" title=""
                                                        (click)="deleteClass(class.id)">
                                                      
                                                        <i class="icon-trash font-medium-3 mr-2"></i>
                                                    </a>
                          </td>
                          <td><button type="button" class="btn btn-raised" disabled style="cursor:default"
                              [ngClass]="{' btn-primary' : class.active,'btn-warning' :!class.active }">
                              {{ class.active ? 'Active' : 'Inactive' }}

                            </button></td>


                        </tr>
                      </tbody>
                    </table>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-sm-6">
                      <div class="formgroup">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="classes.length"
                          [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="formgroup">
                        Items per Page:
                        <select (change)="handlePageSizeChange($event)">
                          <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize">
                            {{ pageSize }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
