<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Kiosk Management</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Update Kiosk</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">


          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="kioskId"><span *ngIf="kiosk.kioskId == undefined || kiosk.kioskId =='' "
                            style="color: red">*</span>Kiosk Id
                        </label>
                        <span class=" text-muted danger" *ngIf="!kioskId.valid && (kioskId.dirty || kioskId.touched)">
                          is required!
                        </span>
                        <input type="number" id="kioskId" class="form-control border-primary" name="kioskId"
                          [(ngModel)]="kiosk.kioskId" ngModel #kioskId="ngModel" required>
                       
                        </div>
                      </div>
                        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="kioskName"><span *ngIf="kiosk.kioskName == undefined || kiosk.kioskName =='' "
                            style="color: red">*</span>Kiosk Name
                        </label>
                        <span class=" text-muted danger" *ngIf="!kioskName.valid && (kioskName.dirty || kioskName.touched)">
                          is required!
                        </span>
                        <input type="text" id="kioskName" class="form-control border-primary" name="kioskName"
                          [(ngModel)]="kiosk.kioskName" ngModel #kioskName="ngModel" required readonly>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="brandName"><span *ngIf="kiosk.brandName == undefined || kiosk.brandName =='' "
                            style="color: red">*</span>Brand Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!brandName.valid && (brandName.dirty || brandName.touched)">
                          is required!
                        </span>
                        <input type="text" id="brandName" class="form-control border-primary" name="brandName"
                          [(ngModel)]="kiosk.brandName" ngModel #brandName="ngModel" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="modelName"><span *ngIf="kiosk.modelName == undefined || kiosk.modelName =='' "
                            style="color: red">*</span>Model Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!modelName.valid && (modelName.dirty || modelName.touched)">
                          is required!
                        </span>
                        <input type="text" id="modelName" class="form-control border-primary" name="modelName"
                          [(ngModel)]="kiosk.modelName" ngModel #modelName="ngModel" required>

                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="cpu"><span *ngIf="kiosk.cpu == undefined || kiosk.cpu =='' "
                            style="color: red">*</span>CPU
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!cpu.valid && (cpu.dirty || cpu.touched)">
                          is required!
                        </span>
                        <input type="text" id="cpu" class="form-control border-primary" name="cpu"
                          [(ngModel)]="kiosk.cpu" ngModel #cpu="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-6">

                        <label for="hdd"><span *ngIf="kiosk.hdd == undefined || kiosk.hdd =='' "
                          style="color: red">*</span>HDD
                      </label>
                      <span class=" text-muted danger"
                        *ngIf="!hdd.valid && (hdd.dirty || hdd.touched)">
                        is required!
                      </span>
                      <input type="text" id="hdd" class="form-control border-primary" name="hdd"
                        [(ngModel)]="kiosk.hdd" ngModel #hdd="ngModel" required>

                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="memory"><span *ngIf="kiosk.memory == undefined || kiosk.memory =='' "
                            style="color: red">*</span>Memory
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!memory.valid && (memory.dirty || memory.touched)">
                          is required!
                        </span>
                        <input type="text" id="memory" class="form-control border-primary" name="memory"
                          [(ngModel)]="kiosk.memory" ngModel #memory="ngModel" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="screenSize"><span *ngIf="kiosk.screenSize == undefined || kiosk.screenSize =='' "
                            style="color: red">*</span>Screen Size
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!screenSize.valid && (screenSize.dirty || screenSize.touched)">
                          is required!
                        </span>
                        <input type="text" id="screenSize" class="form-control border-primary" name="screenSize"
                          [(ngModel)]="kiosk.screenSize" ngModel #screenSize="ngModel" required>

                        </div>
                      </div>

                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="d-block">Status</label>
                          <div class="input-group">
                            <div class="custom-control custom-radio d-inline-block float-left">
                              <input type="radio" checked id="active" name="active" class="custom-control-input"
                                [value]=true [(ngModel)]="kiosk.active">
                              <label class="custom-control-label" for="active">Active</label>
                            </div>
                            <div class="custom-control custom-radio d-inline-block float-left ml-1">
                              <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                                [value]=false [(ngModel)]="kiosk.active">
                              <label class="custom-control-label" for="inactive">In Active</label>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                  </div> 
             
                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="updateKiosk(kiosk.id)"
                    routerLink="/kiosk/newkiosk">
                    <i class="fa fa-check-square-o"></i> Update
                    </button>

                    <button type="button" class="btn btn-raised btn-warning " routerLink="/kiosk/newkiosk">
                      <i class="ft-x"></i> Cancel
                  </button>
                
                   </div>
                 </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
