<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header"><h4> Change Password</h4></div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form name="forgotPasswordForm" #forgotPasswordForm="ngForm">
                            <div class="form-group">
                                <label for="oldPassword" classs="form-control-label"><span
                            *ngIf="changePasswordDto.oldPassword == undefined ||changePasswordDto.oldPassword=='' "
                            style="color: red">*</span>oldPassword</label>
                                

                            <input class="form-control input-md" ngModel #oldPassword="ngModel" required id="password" name="oldPassword" type="password" [(ngModel)]="changePasswordDto.oldPassword">
                                <small class=" text-muted danger" *ngIf="!oldPassword.valid && (oldPassword.dirty || oldPassword.touched)">
                                    please enter old password
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="newPassword" classs="form-control-label"> <span
                                    *ngIf="changePasswordDto.newPassword == undefined ||changePasswordDto.newPassword=='' "
                                    style="color: red">*</span>newPassword</label>
                                <input class="form-control input-md" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  #newPassword="ngModel"
                                    required id="password" name="newPassword" type="password" [(ngModel)]="changePasswordDto.newPassword">
                                    
                                    <div class="text-muted danger" *ngIf="newPassword.touched&& newPassword.invalid">
                                         <span *ngIf="newPassword.errors.required">
                                             please provide new password
                                         </span>
                                         <span *ngIf="newPassword.errors.pattern">
                                            Must contain at least one number <br> One uppercase and lowercase letter <br> Atleast 8 or more characters.
                                           </span>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" classs="form-control-label"> confirmPassword</label>
                                <input class="form-control input-md" ngModel #confirmPassword="ngModel" required  id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="changePasswordDto.confirmPassword"
                                pattern="{{ newPassword.value }}">
                                <div class="text-muted danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                                    <span *ngIf="confirmPassword.errors.required">
                                           please confirm password
                                    </span>
                                    <span *ngIf="confirmPassword.errors.pattern">
                                           confirm password does not match
                                    </span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-raised btn-primary mr-1" (click)="onSubmitConfirm()" routerLink="/pages/login" [disabled]="!forgotPasswordForm.valid">
                        save
                      </button><button type="button" class="btn btn-raised btn-warning mr-1">
                        cancel
                      </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>