<section id="image">
    <div class=row>


<div class="col-md-12">
    <div class="card">
        <div class="card-header pb-2">
            <h4 class="card-title" id="basic-layout-colored-form-control">URL
                Details</h4>

                <div class="form-actions center">
                    
                <button type="button" class="btn btn-raised btn-primary mr-2" 
                     
                routerLink="/endpoints">
                <i class="ft-align-justify"></i> EndPointsList
            </button>
            <button type="button" class="btn btn-raised btn-primary"
             
            routerLink="/endpoints/add-end-points" >
            <i class="ft-plus"></i> Add End Points
        </button>
        </div>
        </div>
        <div class="card-content">
            <div class="px-3">

                <form #endPointsForm="ngForm" class="form" novalidate>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="appName">
                                        <span *ngIf="api.appURL == undefined || api.appURL =='' "
                                            style="color: red">*</span>URL</label>
                                       <span class=" text-muted danger"
                                        *ngIf="!appURL.valid && (appURL.dirty || appURL.touched)">
                                        is required!
                                    </span>
                                    <input type="text" id="url"
                                        class="form-control border-primary"
                                        name="url" [(ngModel)]="api.appURL" ngModel #appURL="ngModel" required placeholder="https://www.example.com/">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="appName">
                                        <span *ngIf="api.appName == undefined || api.appName =='' "
                                            style="color: rgb(28, 17, 17)">*</span>Api Name</label>
                                       <span class=" text-muted danger"
                                        *ngIf="!appName.valid && (appName.dirty || appName.touched)">
                                        is required!
                                    </span>
                                    <input type="text" id="url"
                                        class="form-control border-primary"
                                        name="appName" [(ngModel)]="api.appName"  ngModel #appName="ngModel" required placeholder="ExampleAPI">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="domain">
                                        <span *ngIf="api.domain == undefined || api.domain =='' "
                                            style="color: red">*</span>Domain</label>
                                       <span class=" text-muted danger"
                                        *ngIf="!domain.valid && (domain.dirty || domain.touched)">
                                        is required!
                                    </span>
                                    <input type="text" id="domain"
                                        class="form-control border-primary"
                                        name="domain" [(ngModel)]="api.domain" ngModel #domain="ngModel" required placeholder="example.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="security">
                                        <span *ngIf="api.security == undefined || api.security =='' "
                                            style="color: red">*</span>Security</label>
                                       <span class=" text-muted danger"
                                        *ngIf="!security.valid && (security.dirty || security.touched)">
                                        is required!
                                    </span>
                                    <input type="text" id="security"
                                        class="form-control border-primary"
                                        name="security" [(ngModel)]="api.security" ngModel #security="ngModel" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="scheduleTime">
                                        <span *ngIf="api.scheduleTime == undefined || api.scheduleTime =='' "
                                            style="color: red">*</span>Select Schedule</label>
                                       <span class=" text-muted danger"
                                        *ngIf="!scheduleTime.valid && (scheduleTime.dirty || scheduleTime.touched)">
                                        is required!
                                    </span>
                                    <select class="form-control" required id="scheduleTime" name="scheduleTime"
                                      [(ngModel)]="api.scheduleTime" ngModel #scheduleTime="ngModel" required>
                                      <option>Select Schedule</option>
                                      <option value="twoMinutes">Every 2 minutes</option>
                                      <option value="fiveMinutes">Every 5 minutes</option>
                                      <option value="hourly">Hourly</option>
                                      <option value="daily">Daily</option>
                                      <option value="weekly">Weekly</option>
                                      <option value="monthly">Monthly</option>
          
                                    </select>
                                </div>
                              </div>

                        </div>
                    </div>
                    <div class = row>
                    <div class="form-group ">
                        <div class="form-check">
                            <label>Status</label><br> <label class="radio-inline">
                                <input type="radio" name="isActive"
                                    [(ngModel)]="api.active" [value]=true
                                    ng-checked="!api.active" >Active
                            </label> <label class="radio-inline"> <input
                                    type="radio" name="inActive"
                                    [(ngModel)]="api.isActive" [value]=false>Inactive
                            </label>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="form-check">
                            <label>Header</label><br> <label class="radio-inline">
                                <input type="radio" name="isHeader"
                                    [(ngModel)]="api.header" value=true
                                    ng-checked="!api.header">Yes
                            </label> <label class="radio-inline"> <input
                                    type="radio" name="isHeader"
                                    [(ngModel)]="api.header" value=false>No
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="api.header=='true'" >
                    <div class="form-group col-12 mb-2" style="margin-top: 5%">    
                        <table class="table table-striped table-bordered">    
                            <thead>    
                                <tr>    
                                    <th>Action</th>    
                                    <th>Key</th>    
                                    <th>Value</th>    
                                </tr>    
                            </thead>    
                            <tbody>    
                                 <tr *ngFor="let header of api.headers; let i = index;">    
                                  <td (click)="deleteRow(i)">    
                                    <i class="fa fa-trash fa-2x"></i>    
                                  </td>    
                                    <td>    
                                      <input [(ngModel)]="header.headerKey" class="form-control" type="text" name="headerKey_{{i}}" />    
                                    </td>    
                                    <td>    
                                      <input [(ngModel)]="header.headerValue" class="form-control" type="text" name="headerValue_{{i}}"/>    
                                    </td>    
                                </tr>    
                                <tr>    
                                  <td (click)="addRow()">    
                                    <i class="fa fa-plus fa-2x"></i>    
                                  </td>    
                                </tr>    
                            </tbody>    
                        </table>    
                      </div> 
                </div>


                    <div class="form-actions center">
                        <button type="button" class="btn btn-raised btn-primary mr-1"
                        (click)="onSaveConfirm(event)" routerLink="/endpoints">
                        <i class="fa fa-check-square-o" ></i> Save
                    </button>
                        <button type="button"
                            class="btn btn-raised btn-warning " routerLink="/endpoints">
                            <i class="ft-x"></i> Cancel
                        </button>
                        
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>
</section>
