<ngx-spinner></ngx-spinner>
<section id="image">
    <div class=row>
        <div class=" col-md-12 ">
            <div class="row">
                <div class="container-fluid">
                    <div class="row text-left">
                        <div class="col-md-8">
                            <div class="content-header" style="font-size: 20px">User Management</div>
                            <br>
                            <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                                        style="font-size: 15px">Home</span></a>
                                <span style="font-size: 15px">/Users List</span>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-12">


                        <button type="button" class="btn btn-raised btn-primary"
                            routerLink="/user-management/add-user-management">
                            <i class="ft-plus"></i> Add Users
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">

                        <section id="simple">
                            <div class="row text-left">
                                <div class="col-sm-12">
                                    <table class="table table-responsive-md text-center">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>User Name</th>
                                                <th>Role Name</th>
                                                <th>Status</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let user of users; index as i">
                                            <tr>
                                                <td>{{i+1}} </td>
                                                <td>{{user.username}}</td>
                                                <td>{{user.role}}</td>
                                                
                                                <td><button type="button" class="btn btn-raised" disabled
                                                        style="cursor:default"
                                                        [ngClass]="{' btn-primary' : user.active,'btn-warning' :!user.active }">
                                                        {{ user.active ? 'Active' : 'Inactive' }}
                                                    </button></td>
                                                <td>
                                                    <a class="success p-0" data-original-title="" title=""
                                                        (click)="editUsermanagement(user)">
                                                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                                    </a>
                                                    <a class="danger p-0" data-original-title="" title=""
                                                        (click)="deleteUser(user)">
                                                        <i class="ft-x font-medium-3 mr-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>