<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Create</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Role</span>

              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name" class="form-control-label"><span *ngIf="role.name == undefined || role.name =='' "
                              style="color: red">*</span>Enter Role Name
                          </label>
                          <span class=" text-muted danger" *ngIf="!name.valid && (name.dirty || name.touched)">
                            is required!
                          </span>
                          <input type="text" id="name" class="form-control border-primary" name="name"
                            [(ngModel)]="role.name" ngModel #name="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="description"><span *ngIf="role.description == undefined || role.description =='' "
                              style="color: red">*</span>Description
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!description.valid && (description.dirty || description.touched)">
                            is required!
                          </span>
                          <input type="text" id="description" class="form-control border-primary" name="description"
                            [(ngModel)]="role.description" ngModel #description="ngModel" required>

                        </div>
                      </div>

                    </div>

                  <!-- role active inactive -->
                  <!-- <div class="col-md-4">
                      <div class="form-group">
                        <label class="d-block">Status</label>
                        <div class="input-group">
                          <div class="custom-control custom-radio d-inline-block float-left">
                            <input type="radio" checked id="active" name="active" class="custom-control-input"
                              [value]=true [(ngModel)]="role.active">
                            <label class="custom-control-label" for="active">Active</label>
                          </div>
                          <div class="custom-control custom-radio d-inline-block float-left ml-1">
                            <input type="radio" id="inactive" name="inactive" class="custom-control-input" [value]=false
                              [(ngModel)]="role.active">
                            <label class="custom-control-label" for="inactive">In Active</label>
                          </div>
                        </div>
                      </div>
                    </div>  
                   -->  <!-- role avtive in active -->
                  </div>
                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="addRole()"
                      [disabled]="!addClassForm.valid">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
                   <!--  <button type="button" class="btn btn-raised btn-warning">
                      <i class="ft-x"></i> Cancel
                    </button> -->
                     <button type="button" class="btn btn-raised btn-warning mr-1" routerLink="/role">
                    <i class="ft-x"></i> Cancel
                  </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="card">

        <div class="card-body">
          <div class="form-group">
            <section id="simple">

              <!-- <div class="col-sm-6">
                <form role="search">
                  <div class="position-relative has-icon-right">
                    <input type="text" class="form-control round" placeholder="Search" name="search"
                      [(ngModel)]="searchText" autocomplete="off">
                    <div class="form-control-position">
                      <i class="ft-search"></i>
                    </div>
                  </div>
                </form>
              </div> -->
              <br>
              <div class="row text-left">

                <div class="col-sm-12">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Role Name</th>
                        <th>Description</th>
                        <th>Action</th> 
                      </tr>
 
                    </thead>
                    <!-- <tbody
                        *ngFor="let role of roles| slice: (page-1) * pageSize : +((page-1) * pageSize) + +pageSize; index as i"> -->
                    <tbody *ngFor="let role of roles;index as i">
                      <tr>
                        <!-- <td>{{i+1+(page-1) * pageSize}}</td> -->
                        <td>{{i+1}}</td>
                        <td>{{role.name}}</td>
                      
                    
                          <td>{{role.description}}</td>
                          <td>
                                                    <a class="success p-0" data-original-title="" title=""
                                                        (click)="editRole(role)">
                                                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                                    </a>
                                                    <a class="danger p-0" data-original-title="" title=""
                                                        (click)="deleteRole(role)">
                                                        <i class="ft-x font-medium-3 mr-2"></i>
                                                    </a>
                                                </td>

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>