<ngx-spinner ></ngx-spinner>

<section id="image">
    <div class=row>
        <div class=" col-md-12 ">
            <div class="card">
                <div class="card-header">
                    
                        <div class="content-header">End Points</div>
                        <p class="content-sub-header">Here we can add update or delete the EndPoints
                        </p>
                        <button type="button" class="btn btn-raised btn-primary  mr-2"
                     
                        routerLink="/endpoints">
                        <i class="ft-align-justify"></i> EndPointsList
                    </button>
                    <button type="button" class="btn btn-raised btn-primary"
                     
                    routerLink="/endpoints/add-end-points">
                    <i class="ft-plus"></i> Add End Points
                </button>
                </div>

                <div class="card-body">
                    
                        <table class="table table-responsive-md ">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>URL</th>
                                    <th>App Name</th>
                                    <!-- <th>Security</th>
                                    <th>Status</th> -->
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let api of apis; index as i">
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{api.appURL}}</td>
                                    <td>{{api.appName}}</td>
                                    <!-- <td>{{api.security}}</td>
                                    <td>{{api.active}}</td> -->
                                    <td>
                                        <a class="success p-0" data-original-title="" title=""
                                            (click)="editEndPoints(api)">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title=""
                                        (click)="deleteEndPoints(api)">
                                            <i class="ft-x font-medium-3 mr-2"></i>
                                          </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   
                </div>
            </div>
        </div>
    </div>
</section>