<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Store Management</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Add Store</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
         

          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">

              
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="storeName"><span *ngIf="storeInfoRequest.storeName == undefined || storeInfoRequest.storeName =='' "
                              style="color: red">*</span>Enter Store Name
                          </label>
                          <span class=" text-muted danger" *ngIf="!storeName.valid && (storeName.dirty || storeName.touched)">
                            is required!
                          </span>
                          <input type="text" id="storeName" class="form-control border-primary" name="storeName"
                            [(ngModel)]="storeInfoRequest.storeName" ngModel #storeName="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="corpStoreNo"><span *ngIf="storeInfoRequest.corpStoreNo == undefined || storeInfoRequest.corpStoreNo =='' "
                              style="color: red">*</span>Enter Corp StoreNo
                          </label>
                          <span class=" text-muted danger" *ngIf="!corpStoreNo.valid && (corpStoreNo.dirty || corpStoreNo.touched)">
                            is required!
                          </span>
                          <input type="number" id="corpStoreNo" class="form-control border-primary" name="corpStoreNo"
                            [(ngModel)]="storeInfoRequest.corpStoreNo" ngModel #corpStoreNo="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="serialNumber"><span *ngIf="storeInfoRequest.serialNumber == undefined || storeInfoRequest.serialNumber =='' "
                              style="color: red">*</span>Store Serial Number
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!serialNumber.valid && (serialNumber.dirty || serialNumber.touched)">
                            is required!
                          </span>
                          <input type="number" id="serialNumber" class="form-control border-primary" name="serialNumber"
                            [(ngModel)]="storeInfoRequest.serialNumber" ngModel #serialNumber="ngModel" required>

                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="address"><span *ngIf="storeInfoRequest.address == undefined || storeInfoRequest.address =='' "
                              style="color: red">*</span>Store Location
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!address.valid && (address.dirty || address.touched)">
                            is required!
                          </span>
                          <input type="text" id="address" class="form-control border-primary" name="address"
                            [(ngModel)]="storeInfoRequest.address" ngModel #address="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="bankName"><span *ngIf="storeInfoRequest.bankName == undefined || storeInfoRequest.bankName =='' "
                              style="color: red">*</span>Bank Name
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!bankName.valid && (bankName.dirty || bankName.touched)">
                            is required!
                          </span>
                          <input type="text" id="bankName" class="form-control border-primary" name="bankName"
                            [(ngModel)]="storeInfoRequest.bankName" ngModel #bankName="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="accountNumber"><span *ngIf="storeInfoRequest.accountNumber == undefined || storeInfoRequest.accountNumber =='' "
                              style="color: red">*</span>Account Number
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!accountNumber.valid && (accountNumber.dirty || accountNumber.touched)">
                            <span *ngIf="accountNumber.errors.required"> is required!</span>
                            <span *ngIf="accountNumber.errors.maxlength"> plz enter valid Account number!</span>
                             </span>
                          <input type="number" id="accountNumber" class="form-control border-primary" name="accountNumber"
                            [(ngModel)]="storeInfoRequest.accountNumber" ngModel #accountNumber="ngModel" required   maxlength="15">

                        </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="minimumBalance"><span *ngIf="storeInfoRequest.minimumBalance == undefined || storeInfoRequest.minimumBalance =='' "
                                style="color: red">*</span>Minimum Balance
                            </label>
                            <span class=" text-muted danger"
                              *ngIf="!minimumBalance.valid && (minimumBalance.dirty || minimumBalance.touched)">
                              is required!
                            </span>
                            <input type="number" id="minimumBalance" class="form-control border-primary" name="minimumBalance"
                              [(ngModel)]="storeInfoRequest.minimumBalance" ngModel #minimumBalance="ngModel" required>
  
                          </div>
                        </div>
                        
                        
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="startTime"><span *ngIf="storeInfoRequest.startTime == undefined || storeInfoRequest.startTime =='' "
                                style="color: red">*</span>EOD Processing Start Time
                            </label>
                            <span class=" text-muted danger"
                              *ngIf="!startTime.valid && (startTime.dirty || startTime.touched)">
                              is required!
                            </span>
                            <input type="time" id="startTime" class="form-control border-primary" name="startTime"
                              [(ngModel)]="storeInfoRequest.startTime" ngModel #startTime="ngModel" required>
                          </div>
                        </div>
                    
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="endTime"><span *ngIf="storeInfoRequest.endTime == undefined || storeInfoRequest.endTime =='' "
                              style="color: red">*</span>EOD Processing End Time
                          </label>
                          <span class=" text-muted danger"
                            *ngIf="!endTime.valid && (endTime.dirty || endTime.touched)">
                            is required!
                          </span>
                          <input type="time" id="endTime" class="form-control border-primary" name="endTime"
                            [(ngModel)]="storeInfoRequest.endTime" ngModel #endTime="ngModel" required>
                        </div>
                      </div>

                     <div class="col-md-6">
                        <div class="form-group">
                          <label class="d-block">Status</label>
                          <div class="input-group">
                            <div class="custom-control custom-radio d-inline-block float-left">
                              <input type="radio" checked id="active" name="active" class="custom-control-input"
                                [value]=true [(ngModel)]="storeInfoRequest.configured">
                              <label class="custom-control-label" for="active">Active</label>
                            </div>
                            <div class="custom-control custom-radio d-inline-block float-left ml-1">
                              <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                                [value]=false [(ngModel)]="storeInfoRequest.configured">
                              <label class="custom-control-label" for="inactive">In Active</label>
                            </div>
                          </div>
                        </div>
                      </div> 

                    </div>

               




                  </div>
                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="addStore()"
                      [disabled]="!addClassForm.valid">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
                    <button type="reset" class="btn btn-raised btn-warning">
                      <i class="ft-x"></i> Cancel
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="card">

        <div class="card-body">
          <div class="form-group">
            <section id="simple">

              <!-- <div class="col-sm-6">
                <form storeInfoRequest="search">
                  <div class="position-relative has-icon-right">
                    <input type="text" class="form-control round" placeholder="Search" name="search"
                      [(ngModel)]="searchText" autocomplete="off">
                    <div class="form-control-position">
                      <i class="ft-search"></i>
                    </div>
                  </div>
                </form>
              </div> -->
              <br>
              <div class="row text-left">

                <div class="col-sm-12">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Corp StoreNo</th>
                        <th>Serial Number</th>
                        <th>Store Name</th>
                        <th>Store Location</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <!-- <tbody
                        *ngFor="let storeInfoRequest of storeInfoRequests| slice: (page-1) * pageSize : +((page-1) * pageSize) + +pageSize; index as i"> -->
                    <tbody *ngFor="let storeInfoRequest of storeInfoRequests;index as i">
                      <tr>
                        <!-- <td>{{i+1+(page-1) * pageSize}}</td> -->
                        <td>{{i+1}}</td>
                        <td>{{storeInfoRequest.corpStoreNo}}</td>
                        <td>{{storeInfoRequest.serialNumber}}</td>
                        <td>{{storeInfoRequest.storeName}}</td>
                        <td>{{storeInfoRequest.address}}</td>
                        <td>{{storeInfoRequest.startTime}}</td>
                        <td>{{storeInfoRequest.endTime}}</td>
                        <td>
                          <button type="button" class="btn btn-raised" disabled style="cursor:default"
                          [ngClass]="{' btn-primary' : storeInfoRequest.configured,'btn-warning' :!storeInfoRequest.configured }">
                          {{ storeInfoRequest.configured ? 'Active' : 'Inactive' }}

                        </button>
                      </td>
                        
                        <td>
                          <a class="success p-0" data-original-title="" title="" (click)="editstoreInfoRequest(storeInfoRequest)"
                            placement="bottom" ngbTooltip="Edit">
                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                          </a>
                           <a class="danger p-0" data-original-title="" title=""
                                                      (click)="storedelete(storeInfoRequest)" placement="bottom" ngbTooltip="Delete">
                                                    
                                                      <i class="icon-trash font-medium-3 mr-2"></i>
                                                  </a>
                        </td>


                      </tr>
                    </tbody>
                  </table>
                  <!-- <div *ngIf="searchText != ''">
                    <table class="table table-responsive-md text-center">
                      <thead>
                        <tr>
                          <th>S.no</th>
                          <th>Class Name</th>
                          <th>Edit</th>
                          <th>Status</th>

                        </tr>
                      </thead>
                      <tbody *ngFor="let class of classes| filter:searchText ; index as i">
                        <tr>
                          <td>{{i+1+(page-1) * pageSize}}</td>
                          <td>{{class.name}}</td>
                          <td>
                            <a class="success p-0" data-original-title="" title="" (click)="editClass(class)"
                              placement="bottom" ngbTooltip="Edit">
                              <i class="ft-edit-2 font-medium-3 mr-2"></i>
                            </a>
                            <a class="danger p-0" data-original-title="" title=""
                                                        (click)="deleteClass(class.id)">
                                                      
                                                        <i class="icon-trash font-medium-3 mr-2"></i>
                                                    </a>
                          </td>
                          <td><button type="button" class="btn btn-raised" disabled style="cursor:default"
                              [ngClass]="{' btn-primary' : class.active,'btn-warning' :!class.active }">
                              {{ class.active ? 'Active' : 'Inactive' }}

                            </button></td>


                        </tr>
                      </tbody>
                    </table>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-sm-6">
                      <div class="formgroup">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="classes.length"
                          [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="formgroup">
                        Items per Page:
                        <select (change)="handlePageSizeChange($event)">
                          <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize">
                            {{ pageSize }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>