
<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Kiosk Management</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>

                <span style="font-size: 15px">/Add Bill Validator</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">



          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="billAcceptorNo"><span *ngIf="billValidator.billAcceptorNo == undefined || billValidator.billAcceptorNo =='' "
                            style="color: red">*</span>Bill Acceptor No
                        </label>
                        <span class=" text-muted danger" *ngIf="!billAcceptorNo.valid && (billAcceptorNo.dirty || billAcceptorNo.touched)">
                          is required!
                        </span>
                        <input type="number" id="billAcceptorNo" class="form-control border-primary" name="billAcceptorNo"
                          [(ngModel)]="billValidator.billAcceptorNo" ngModel #billAcceptorNo="ngModel" required>
                       
                        </div>
                      </div>
                        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="billAcceptorName"><span *ngIf="billValidator.billAcceptorName == undefined || billValidator.billAcceptorName =='' "
                            style="color: red">*</span>Bill Validator Name
                        </label>
                        <span class=" text-muted danger" *ngIf="!billAcceptorName.valid && (billAcceptorName.dirty || billAcceptorName.touched)">
                          is required!
                        </span>
                        <input type="text" id="billAcceptorName" class="form-control border-primary" name="billAcceptorName"
                          [(ngModel)]="billValidator.billAcceptorName" ngModel #billAcceptorName="ngModel" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="brandName"><span *ngIf="billValidator.brandName == undefined || billValidator.brandName =='' "
                            style="color: red">*</span>Brand Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!brandName.valid && (brandName.dirty || brandName.touched)">
                          is required!
                        </span>
                        <input type="text" id="brandName" class="form-control border-primary" name="brandName"
                          [(ngModel)]="billValidator.brandName" ngModel #brandName="ngModel" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="modelName"><span *ngIf="billValidator.modelName == undefined || billValidator.modelName =='' "
                            style="color: red">*</span>Model Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!modelName.valid && (modelName.dirty || modelName.touched)">
                          is required!
                        </span>
                        <input type="text" id="modelName" class="form-control border-primary" name="modelName"
                          [(ngModel)]="billValidator.modelName" ngModel #modelName="ngModel" required>

                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="machineType"><span *ngIf="billValidator.machineType == undefined || billValidator.machineType =='' "
                            style="color: red">*</span>Machine Type
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!machineType.valid && (machineType.dirty || machineType.touched)">
                          is required!
                        </span>
                        <input type="text" id="machineType" class="form-control border-primary" name="machineType"
                          [(ngModel)]="billValidator.machineType" ngModel #machineType="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-6">

                        <label for="storageCapacity"><span *ngIf="billValidator.storageCapacity == undefined || billValidator.storageCapacity =='' "
                          style="color: red">*</span>Storage Capacity
                      </label>
                      <span class=" text-muted danger"
                        *ngIf="!storageCapacity.valid && (storageCapacity.dirty || storageCapacity.touched)">
                        is required!
                      </span>
                      <input type="text" id="storageCapacity" class="form-control border-primary" name="storageCapacity"
                        [(ngModel)]="billValidator.storageCapacity" ngModel #storageCapacity="ngModel" required>

                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="d-block">Status</label>
                          <div class="input-group">
                            <div class="custom-control custom-radio d-inline-block float-left">
                              <input type="radio" checked id="active" name="active" class="custom-control-input"
                                [value]=true [(ngModel)]="billValidator.active">
                              <label class="custom-control-label" for="active">Active</label>
                            </div>
                            <div class="custom-control custom-radio d-inline-block float-left ml-1">
                              <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                                [value]=false [(ngModel)]="billValidator.active">
                              <label class="custom-control-label" for="inactive">In Active</label>
                            </div>
                          </div>
                        </div>
                      </div>
                  <!--    <div class="col-md-6">
                        <fieldset class="form-group">
                          <label for="storeSelect">Select Store Id</label>
                          <select required [(ngModel)]="role" id="role" name="role" class="form-control border-primary">
                            <option>Select Store Id</option>
                            <option [ngValue]="role" *ngFor="let role of roles">
                              {{role.name}} </option>
                          </select>
                        </fieldset>
                      </div>-->
                  
                  </div> 
             
                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="addBillValidator()"
                      [disabled]="!addClassForm.valid">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
                    <button type="reset" class="btn btn-raised btn-warning">
                      <i class="ft-x"></i> Cancel
                    </button>

                   </div>
                 </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="card">

        <div class="card-body">
          <div class="form-group">
            <section id="simple">

              <!-- <div class="col-sm-6">
                <form role="search">
                  <div class="position-relative has-icon-right">
                    <input type="text" class="form-control round" placeholder="Search" name="search"
                      [(ngModel)]="searchText" autocomplete="off">
                    <div class="form-control-position">
                      <i class="ft-search"></i>
                    </div>
                  </div>
                </form>
              </div> -->
              <br>
              <div class="row text-left">

                <div class="col-sm-12">
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <th>S.no</th>
                        <th>Bill Validator No</th>
                        <th>Bill Validator Name</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <!-- <tbody
                        *ngFor="let role of roles| slice: (page-1) * pageSize : +((page-1) * pageSize) + +pageSize; index as i"> -->
                    <tbody *ngFor="let billValidator of billValidators ;index as i">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{billValidator.billAcceptorNo}}</td>
                        <td>{{billValidator.billAcceptorName}}</td>
                        <td>
                          <button type="button" class="btn btn-raised" disabled style="cursor:default"
                            [ngClass]="{' btn-primary' : billValidator.active,'btn-warning' :!billValidator.active }">
                            {{ billValidator.active ? 'Active' : 'Inactive' }}

                          </button>
                        </td>
                        <td>

                          <a class="success p-0" data-original-title="" title="" (click)="editBillValidator(billValidator)"

                            placement="bottom" ngbTooltip="Edit">
                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                          </a>
                          <a class="danger p-0" data-original-title="" title=""
                                                      (click)="billValidatordelete(billValidator)">
                                                    
                                                      <i class="icon-trash font-medium-3 mr-2"></i>
                                                  </a>
                        </td>
                     


                      </tr>
                    </tbody>
                  </table>
                  <!-- <div *ngIf="searchText != ''">
                    <table class="table table-responsive-md text-center">
                      <thead>
                        <tr>
                          <th>S.no</th>
                          <th>Class Name</th>
                          <th>Edit</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let class of classes| filter:searchText ; index as i">
                        <tr>
                          <td>{{i+1+(page-1) * pageSize}}</td>
                          <td>{{class.name}}</td>
                          <td>
                            <a class="success p-0" data-original-title="" title="" (click)="editClass(class)"
                              placement="bottom" ngbTooltip="Edit">
                              <i class="ft-edit-2 font-medium-3 mr-2"></i>
                            </a>
                            <a class="danger p-0" data-original-title="" title=""
                                                        (click)="deleteClass(class.id)">
                                                      
                                                        <i class="icon-trash font-medium-3 mr-2"></i>
                                                    </a>
                          </td>
                          <td><button type="button" class="btn btn-raised" disabled style="cursor:default"
                              [ngClass]="{' btn-primary' : class.active,'btn-warning' :!class.active }">
                              {{ class.active ? 'Active' : 'Inactive' }}
                            </button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-sm-6">
                      <div class="formgroup">
                        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="classes.length"
                          [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="formgroup">
                        Items per Page:
                        <select (change)="handlePageSizeChange($event)">
                          <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize">
                            {{ pageSize }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

