<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Kiosk Management</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Update Digital Locks</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">


          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">
                <form class="form" #addClassForm="ngForm" novalidate>
                  <div class="form-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="digitalLockNo"><span *ngIf="lock.digitalLockNo == undefined || lock.digitalLockNo =='' "
                            style="color: red">*</span>Digital Lock No
                        </label>
                        <span class=" text-muted danger" *ngIf="!digitalLockNo.valid && (digitalLockNo.dirty || digitalLockNo.touched)">
                          is required!
                        </span>
                        <input type="number" id="digitalLockNo" class="form-control border-primary" name="digitalLockNo"
                          [(ngModel)]="lock.digitalLockNo" ngModel #digitalLockNo="ngModel" required>
                       
                        </div>
                      </div>
                        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="digitalLockName"><span *ngIf="lock.digitalLockName == undefined || lock.digitalLockName =='' "
                            style="color: red">*</span>Digital Lock Name
                        </label>
                        <span class=" text-muted danger" *ngIf="!digitalLockName.valid && (digitalLockName.dirty || digitalLockName.touched)">
                          is required!
                        </span>
                        <input type="text" id="digitalLockName" class="form-control border-primary" name="digitalLockName"
                          [(ngModel)]="lock.digitalLockName" ngModel #digitalLockName="ngModel" required readonly>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="brandName"><span *ngIf="lock.brandName == undefined || lock.brandName =='' "
                            style="color: red">*</span>Brand Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!brandName.valid && (brandName.dirty || brandName.touched)">
                          is required!
                        </span>
                        <input type="text" id="brandName" class="form-control border-primary" name="brandName"
                          [(ngModel)]="lock.brandName" ngModel #brandName="ngModel" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="modelName"><span *ngIf="lock.modelName == undefined || lock.modelName =='' "
                            style="color: red">*</span>Model Name
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!modelName.valid && (modelName.dirty || modelName.touched)">
                          is required!
                        </span>
                        <input type="text" id="modelName" class="form-control border-primary" name="modelName"
                          [(ngModel)]="lock.modelName" ngModel #modelName="ngModel" required>

                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="machineType"><span *ngIf="lock.machineType == undefined || lock.machineType =='' "
                            style="color: red">*</span>Machine Type
                        </label>
                        <span class=" text-muted danger"
                          *ngIf="!machineType.valid && (machineType.dirty || machineType.touched)">
                          is required!
                        </span>
                        <input type="text" id="machineType" class="form-control border-primary" name="machineType"
                          [(ngModel)]="lock.machineType" ngModel #machineType="ngModel" required>

                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="connectors"><span *ngIf="lock.connectors == undefined || lock.connectors =='' "
                          style="color: red">*</span>Connectors
                      </label>
                      <span class=" text-muted danger"
                        *ngIf="!connectors.valid && (connectors.dirty || connectors.touched)">
                        is required!
                      </span>
                      <input type="text" id="connectors" class="form-control border-primary" name="connectors"
                        [(ngModel)]="lock.connectors" ngModel #connectors="ngModel" required>

                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="d-block">Status</label>
                          <div class="input-group">
                            <div class="custom-control custom-radio d-inline-block float-left">
                              <input type="radio" checked id="active" name="active" class="custom-control-input"
                                [value]=true [(ngModel)]="lock.active">
                              <label class="custom-control-label" for="active">Active</label>
                            </div>
                            <div class="custom-control custom-radio d-inline-block float-left ml-1">
                              <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                                [value]=false [(ngModel)]="lock.active">
                              <label class="custom-control-label" for="inactive">In Active</label>
                            </div>
                          </div>
                        </div>
                      </div>
                  <!--    <div class="col-md-6">
                        <fieldset class="form-group">
                          <label for="storeSelect">Select Store Id</label>
                          <select required [(ngModel)]="role" id="role" name="role" class="form-control border-primary">
                            <option>Select Store Id</option>
                            <option [ngValue]="role" *ngFor="let role of roles">
                              {{role.name}} </option>
                          </select>
                        </fieldset>

                      </div>-->
                  
                  </div> 
             
                  <div class="form-actions center">

                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="updateLock(lock.id)"
                    routerLink="/kiosk/locks">
                    <i class="fa fa-check-square-o"></i> Update
                    </button>

                    <button type="button" class="btn btn-raised btn-warning " routerLink="/kiosk/locks">
                      <i class="ft-x"></i> Cancel
                  </button>
                
                   </div>
                 </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>
