<section id="image">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header pb-2">
                <h4 class="card-title" id="basic-layout-colored-form-control">User
                    Profile</h4>

            </div>
            <div class="card-content">
                <div class="px-3">

                    <form class="form">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Info & Bio
                            </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input type="text" id="firstName" class="form-control border-primary"
                                            name="firstName" [(ngModel)]="user.firstName" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" id="lastName" class="form-control border-primary"
                                            name="lastName" [(ngModel)]="user.lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control border-primary" type="email" id="email"
                                            [(ngModel)]=user.email name="email"  readonly>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for ="mobile">Mobile</label>
                                        <input matInput class="form-control" id="mobile" type="number"
                                            name="mobile" [(ngModel)]="user.mobile"    readonly>


                                    </div>
                                </div>
                            </div>

                            <h4 class="form-section"><i class="ft-mail"></i> Login Credentials
                                </h4>
                            
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <fieldset class="form-group" for="referredBy">
                                            <label>Select Role</label>
                                            <select class="form-control"  id="role" name="role"
                                                [(ngModel)]="user.role" required>
                                                <option [ngValue]="user.role" *ngFor="let role of roles">
                                                    {{role.name}} </option>

                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for ="username">username</label>
                                        <input matInput class="form-control" id="username" type="text"
                                            name="username" [(ngModel)]="user.username" maxlength="10"  readonly>


                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <!-- <div *ngIf="user.role=='Admin'" class=" mb-1">
            
                                    <label>PassWord</label>
                                    <input class="form-control border-primary" id="password" type="text" name="password"
                                     [(ngModel)]="user.password">
            
                                  </div> -->
                                    <div *ngIf="user.role=='User'" class=" mb-1">

                                        <label>Department Name</label>
                                        <input class="form-control border-primary" id="departmentName" type="text"
                                            name="departmentName" [(ngModel)]="user.departmentName">

                                    </div>
                                </div>
                            </div>




                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="d-block">Status</label>
                                <div class="input-group">
                                  <div class="custom-control custom-radio d-inline-block float-left">
                                    <input type="radio" checked id="active" name="active" class="custom-control-input"
                                      [value]=true [(ngModel)]="user.active">
                                    <label class="custom-control-label" for="active">Active</label>
                                  </div>
                                  <div class="custom-control custom-radio d-inline-block float-left ml-1">
                                    <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                                      [value]=false [(ngModel)]="user.active">
                                    <label class="custom-control-label" for="inactive">In Active</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          <!-- <div class="col-md-6">
                                <div class="form-group">
                                  <fieldset class="form-group">
                                    <label for="roleSelect">Select Password criteria</label>
                                    <select class="form-control border-primary" [(ngModel)]="passLenght" required id="passLenght" name="passLenght">
                                      <option Value="four">
                                        4 DIGITS </option>
                                        <option value= "six" >6 DIGITS</option>
                                    </select>
                                  </fieldset>
                                </div>
                              </div>-->
                            </div>
                        <div class="form-actions center">
                            <button type="button" class="btn btn-raised btn-warning mr-1" routerLink="/user-management">
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="button" class="btn btn-raised btn-primary" (click)="updateUserManagement()"
                                routerLink="/user-management">
                                <i class="fa fa-check-square-o"></i> Update
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>